output/
.github/.ssh/
az_client_credentials.json
terraform.tfstate
terraform.tfstate.backup
backend.tfvars
terraform.tfvars
.terraform/
credentials.tfvars
planfile
source_tfvars.sh
.terraform.lock.hcl
.terraform.tfstate.lock.info
roles/
cleanup.sh
credentials.auto.tfvars
vault
playground/
.env
.env.*
dnsservers.auto.tfvars
domainjoin.auto.tfvars
zzz_*
tf_gen_*
