screen mode id:i:1
use multimon:i:0
desktopwidth:i:1280
desktopheight:i:720
session bpp:i:32
winposstr:s:0,3,0,0,800,600
compression:i:1
keyboardhook:i:2
audiocapturemode:i:1
videoplaybackmode:i:1
camerastoredirect:s:*
devicestoredirect:s:*
connection type:i:7
networkautodetect:i:1
bandwidthautodetect:i:1
displayconnectionbar:i:1
username:s:{{ rdp_file_username | default("") }}
enableworkspacereconnect:i:0
disable wallpaper:i:0
allow font smoothing:i:1
allow desktop composition:i:0
disable full window drag:i:1
disable menu anims:i:1
disable themes:i:0
disable cursor setting:i:0
bitmapcachepersistenable:i:1
full address:s:{{ rdp_file_full_address }}
audiomode:i:0
redirectprinters:i:0
redirectcomports:i:0
redirectsmartcards:i:0
redirectclipboard:i:1
redirectposdevices:i:0
drivestoredirect:s:
autoreconnection enabled:i:1
authentication level:i:2
prompt for credentials:i:0
negotiate security layer:i:1
remoteapplicationmode:i:0
alternate shell:s:
shell working directory:s:
gatewayhostname:s:{{ rdp_file_gatewayhostname }}
gatewayusagemethod:i:2
gatewaycredentialssource:i:4
gatewayprofileusagemethod:i:1
promptcredentialonce:i:1
gatewaybrokeringtype:i:0
rdgiskdcproxy:i:0
kdcproxyname:s:
{% if rdp_file_load_balance_info is defined %}loadbalanceinfo:s:{{ rdp_file_load_balance_info }}
workspace id:s:{{ rdp_file_workspace_id }}
alternate full address:s:{{ rdp_file_alternate_full_address | upper }}
use redirection server name:i:1
{% else %}
use redirection server name:i:0
{% endif %}
